streamlit
pandas
Pillow
PyPDF2
regex
presidio-analyzer
spacy
pt-core-news-md @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_md-3.4.0/pt_core_news_md-3.4.0-py3-none-any.whl
presidio-anonymizer
